@import url('variable.css');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.contact a {
    color: #fff; 
    text-decoration: none; 
}

.social {
    list-style-type: none; 
    margin: 0;
    & :hover{
        cursor: pointer;
        color: #393939;
        text-decoration: none;
        transition: 0.2s;
    }
}

.social li {
    display: inline-block; 
    margin-right: 10px; 
}

.social li a {
    color: #fff; 
    text-decoration: none; 
}


body {
    font-family: sans-serif;
    min-height: 100vh;
    background-color: blue;
    display: flex;
    flex-direction: column;
}

header {
    background-color: red;
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul{
    list-style: none;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header nav ul li a{
    color: white;
    text-decoration: none;
}

header nav ul li img {
    min-width: 5vw;
    min-height: 10vh;
    transition: .4s;
}

header nav ul li {
    width: 7vw;
}

header nav ul li img {
    width: 100%;
}

main {
    display: flex;
    width: 100vw;
    min-height: 70vh;
}



#trailer, #left-section {
    width: 50%;
}
#left-section  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 7vw;
}

#left-section h1 {
    margin-bottom: 5vh;
}
#trailer {
    display: grid;
    place-items: center;
}


footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px;
    text-align: center;
    margin-top: auto;
}