* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px;
    text-align: center;
}

.contact a {
    color: #fff; 
    text-decoration: none; 
}

.social {
    list-style-type: none; 
    margin: 0;
    & :hover{
        cursor: pointer;
        color: #393939;
        text-decoration: none;
        transition: 0.2s;
    }
}

.social li {
    display: inline-block; 
    margin-right: 10px; 
}

.social li a {
    color: #fff; 
    text-decoration: none; 
}


body {
    font-family: sans-serif;
    min-height: 100vh;
    background-color: blue;
}

header {
    background-color: red;
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul{
    list-style: none;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header nav ul li a{
    color: white;
    text-decoration: none;
}

header nav ul li img {
    background-color: rgb(0, 255, 0);
    min-width: 5vw;
    min-height: 10vh;
    transition: .4s;
    &:hover {
        background-color: violet;
        transition: .4s;
    }
}
