@import url("variable.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: rgb(94, 166, 174);
  background: linear-gradient(
    135deg,
    rgba(94, 166, 174, 1) 0%,
    rgba(220, 244, 242, 1) 50%
  );
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  font-family: var(--font);
}

.logo {
  width: 20%;
  z-index: 100;
}

header {
  font-family: var(--font);
  width: auto;
  margin-top: 5vh;
  padding: 0px 7vw;
  z-index: 100;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav img {
  width: 10%;
  z-index: 100;
}

header nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

header nav ul li a {
  color: var(--black);
  margin: 0px 2vw;
  text-decoration: none;
  font-size: var(--title-font-size);
}

header #news {
  font-weight: 800;
}

header a:hover {
  color: var(--orange);
  transition: 0.2s;
}

main {
  height: 75vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  margin-top: 3vh;
}
/* GAUCHE */
#left-articles {
  width: 50%;
  display: grid;
  place-items: center;
  padding: 1vh;
}
/* DROITE */
#right-articles {
  width: 50%;
  min-height: 60vh;
  display: flex;
}
/* DROITE GAUCHE */
#right-articles #left {
  width: 50%;
  height: 100%;
}
/* DROITE DROITE */
#right-articles #right {
  width: 50%;
  height: 100%;
}
/* DROITE HAUT */
#right-articles .top {
  width: 100%;
  height: 50%;
}
/* DROITE BAS */
#right-articles .bottom {
  width: 100%;
  height: 50%;
}
/* DROITE GAUCHE HAUT */
#right-articles #left .top {
  width: 100%;
  height: 50%;
  display: grid;
  place-items: center;
  padding: 1vh;
}
/* DROITE GAUCHE BAS */
#right-articles #left .bottom {
  width: 100%;
  height: 50%;
  display: grid;
  place-items: center;
  padding: 1vh;
}
/* DROITE DROITE HAUT */
#right-articles #right .top {
  width: 100%;
  height: 50%;
  display: grid;
  place-items: center;
  padding: 1vh;
}
/* DROITE DROITE BAS */
#right-articles #right .bottom {
  width: 100%;
  height: 50%;
  display: grid;
  place-items: center;
  padding: 1vh;
}

.news {
  width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  filter: opacity(0.85);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  transition: 0.4s;
}

.news:hover {
  filter: opacity(1);
  transform: translateY(-15px);
  transition: 0.4s;
}

.news:hover button {
  margin: 0px 0px 0px 0px;
  transition: 0.3s;
}

.news h2 {
  color: var(--white);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: 800;
}

.news button {
  padding: 1.5vh;
  background-color: var(--blue);
  text-decoration: none;
  color: var(--black);
  font-weight: 800;
  border: none;
  font-size: var(--title-font-size);
  margin: 0px 0px 5px 5px;
  border-radius: 5px;
  transition: 0.3s;
}

.news button:hover {
  cursor: pointer;
}

#left-articles .news {
  width: 100%;
  height: 100%;
  /* background-image: url("../img/zzz.jpg"); */
  background-color: var(--black);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-height: 70vh; /* Définissez une hauteur maximale */
  overflow: auto; /* Ajoutez une barre de défilement lorsque le contenu dépasse */
  scrollbar-width: thin; /* Largeur de la barre de défilement */
  scrollbar-color: var(--blue) var(--black); /* Couleur de la barre de défilement */
  padding: 20px 30px 20px 30px;
}

#left-articles .news span {
  color: var(--blue);
}

#left-articles .news .titre {
  font-size: var(--title-font-size);
}

#right-articles #left .top .news {
  background-image: url("../img/zzz.jpg");
}
#right-articles #left .bottom .news {
  background-image: url("../img/aaa.jpg");
}
#right-articles #right .top .news {
  background-image: url("../img/anotabloc.jpg");
}
#right-articles #right .bottom .news {
  background-image: url("../img/eee.jpg");
}

#popup-image {
  width: 40vw;
  height: 20vh;
}

#popup {
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  color: var(--white);
  background: rgba(0, 0, 0, 0.5);
}

.popup-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 7vw;
}

.popup-content p {
  color: var(--black);
  background-color: var(--white);
  border-radius: 5px;
  padding: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content img {
  padding-bottom: 10px;
  border-radius: 5px;
}

.close {
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vh;
  height: 5vh;
  border-radius: 0px 0px 0px 5px;
  transition: 0.5s;
}

.close:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.8);
  transition: 0.5s;
}

footer {
  background-color: var(light-blue);
  border-radius: 10px 10px 0 0;
  color: var(--black);
  padding: 0px 20px 0px 20px;
  text-align: center;
  margin-top: 0px;
  z-index: 2;
  width: 100%;
}

.news-img {
  max-width: 600px;
  max-height: 400px;
  min-width: 600px;
  min-height: 400px;
}

.news {
  font-weight: 800;
}

.contact a {
  color: var(--black);
  text-decoration: none;
}

.social {
  list-style-type: none;
  margin: 0;
  & :hover {
    cursor: pointer;
    color: #393939;
    text-decoration: none;
    transition: 0.2s;
  }
}

.social li {
  display: inline-block;
  margin-right: 10px;
}

.social li a {
  color: var(--black);
  text-decoration: none;
}

footer {
  background-color: rgba(51, 51, 51, 0.674);
  color: var(--white);
  padding: 20px;
  text-align: center;
  margin-top: auto;
  z-index: 2;
  width: 100%;
  position: absolute;
  bottom: 0;
}

footer img {
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

footer .social li {
  display: inline;
}

footer .social li a {
  color: inherit;
  text-decoration: none;
}

footer .social li:not(:last-child) {
  margin-right: 10px;
}

footer .social li img {
  vertical-align: middle;
}

footer .copyright {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  text-decoration: none;
}

footer a {
  color: var(--white);
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #ccc;
}
